<%provide(:title, "Edit task") %>
<h1>Edit your task</h1>
<h2>for project '<%= @project.name %>'</h2>
<div class="center">
  <div class="project form-horizontal">
    <%= form_for [@project, @task] do |f| %>
        <div class="input">
          <%= f.text_area :content %>
        </div>
      <div class="control-group">
      <%= f.label :deadline, class: "control-label" %>
        <div class="controls">
          <%= f.datetime_select :deadline, {:include_blank => true, :default => nil} %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :done, class: "control-label" %>
        <div class="controls">
          <%= f.check_box :done %>
        </div>
      </div>    
      <%= f.submit "Edit Task", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", root_path, class: "btn btn-large btn-primary" %>
    <% end %>  
  </div>
    <div>
      <%= render 'comments/comment_form', task: @task, comment: @comment %>
    </div>
    <div class="comments">
      <%= render 'comments/comments', task: @task %>
    </div>
</div>