<%provide(:title, "Show task") %>
<h1>This is a task</h1>
<h2>for project '<%= @task.project.name %>'</h2>
<div class="center">
  <div class="project form-horizontal">
    <div class="title">
      <span class="col-md-10">
        <strong><%= @task.content %></strong>
      </span>
      <span class="col-md-2">
        <%= link_to content_tag('span',"  ", class: 'fa fa-pencil'), edit_project_task_path(@task.project, @task), class: 'action' %>
        <%= link_to content_tag('span',"  ", class: 'fa fa-trash-o'), [@task.project, @task], method: :delete, data: { confirm: "You sure?" }, class: 'action' %>
      </span>
    </div>
    <div class="control-group">
      <label class="control-label">Deadline:</label>
      <div class="controls">
        <% if @task.deadline.nil? %>
          none
        <% else %>
          <%= @task.deadline %>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Is done:</label>
      <div class="controls">
        <%= link_to_if false, content_tag('span'," ", class: 'fa fa-square-o'), '#' %>
      </div>
    </div>    
    <%= link_to "Back to projects", root_path, class: "btn btn-large btn-primary" %>
  </div>  
  <div>
    <%= render 'comments/comment_form', task: @task, comment: @comment %>
  </div>
  <div class="comments">
    <%= render 'comments/comments', task: @task %>
  </div>
</div>