<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', object: @project %>
  <div class="input">
    <%= f.text_area :name, placeholder: "Compose new project..." %>
  </div>
  <%= f.submit "Do this", class: "btn btn-large btn-primary" %>&nbsp;
  <%= link_to "Cancel", root_path, class: "btn btn-large btn-primary" %>
<% end %>